In [6]:
import pandas as pd
import plotly.express as px
import os
import boto3
from dotenv import load_dotenv
import botocore

In [ ]:
# AWS_S3_BUCKET = os.getenv("AWS_S3_BUCKET")
# AWS_ACCESS_KEY_ID = os.getenv("AWS_ACCESS_KEY_ID")
# AWS_SECRET_ACCESS_KEY = os.getenv("AWS_SECRET_ACCESS_KEY")

# load_dotenv()

# s3_client = boto3.client(
#     "s3",
#     aws_access_key_id=AWS_ACCESS_KEY_ID,
#     aws_secret_access_key=AWS_SECRET_ACCESS_KEY,
# )

# codes_metro = [
#     '01', '02', '03', '04', '05', '06', '07', '08', '09',
#     '10', '11', '12', '13', '14', '15', '16', '17', '18', '19',
#     '21', '22', '23', '24', '25', '26', '27', '28', '29',
#     '2A', '2B',
#     '30', '31', '32', '33', '34', '35', '36', '37', '38', '39',
#     '40', '41', '42', '43', '44', '45', '46', '47', '48', '49',
#     '50', '51', '52', '53', '54', '55', '56', '57', '58', '59',
#     '60', '61', '62', '63', '64', '65', '66', '67', '68', '69',
#     '70', '71', '72', '73', '74', '75', '76', '77', '78', '79',
#     '80', '81', '82', '83', '84', '85', '86', '87', '88', '89',
#     '90', '91', '92', '93', '94', '95'
#     ]

# data_weather_50_23 = []
# data_weather_24_25 = []


# for code in codes_metro:
#     key_50_23 = f"raw/climate/MENSQ_{code}_previous-1950-2023.csv.gz"
#     try:
#         response = s3_client.get_object(Bucket=AWS_S3_BUCKET, Key=key_50_23)
#         df = pd.read_csv(response.get("Body"), sep=';', compression='gzip')
#         data_weather_24_25.append(df)
#     except botocore.exceptions.ClientError as e:
#         if e.response['Error']['Code'] == "NoSuchKey":
#             print(f"File not found for {code}")
#         else:
#             raise

#     key_24_25 = f"raw/climate/MENSQ_{code}_latest-2024-2025.csv.gz"
#     try:
#         response = s3_client.get_object(Bucket=AWS_S3_BUCKET, Key=key_24_25)
#         df = pd.read_csv(response.get("Body"), sep=';', compression='gzip')
#         data_weather_24_25.append(df)
#     except botocore.exceptions.ClientError as e:
#         if e.response['Error']['Code'] == "NoSuchKey":
#             print(f"File not found for {code}")
#         else:
#             raise
    
#     try:
#         response = s3_client.get_object(Bucket=AWS_S3_BUCKET, Key="processed/referentiel/ref_espace_communes.csv")

#         data_insee = pd.read_csv(response.get('Body'), index_col=0)
    
#     except FileNotFoundError:
#         print("Le fichier INSEE est introuvable")
#         data_insee = None
        
# data_weather_50_25 = pd.concat(
#         data_weather_50_23 + data_weather_24_25,
#         ignore_index=True)

File not found for 2A
File not found for 2A
File not found for 2B
File not found for 2B

In [427]:
data_weather_01_2024 = pd.read_csv('./data/MENSQ_01_latest-2024-2025.csv.gz',
                       compression='gzip',
                       sep=';')
pd.set_option('display.max_columns', None)
data_weather_01_2024.head()

,NUM_POSTE,NOM_USUEL,LAT,LON,ALTI,AAAAMM,RR,QRR,NBRR,RR_ME,RRAB,QRRAB,RRABDAT,NBJRR1,NBJRR5,NBJRR10,NBJRR30,NBJRR50,NBJRR100,PMERM,QPMERM,NBPMERM,PMERMINAB,QPMERMINAB,PMERMINABDAT,TX,QTX,NBTX,TX_ME,TXAB,QTXAB,TXDAT,TXMIN,QTXMIN,TXMINDAT,NBJTX0,NBJTX25,NBJTX30,NBJTX35,NBJTXI20,NBJTXI27,NBJTXS32,TN,QTN,NBTN,TN_ME,TNAB,QTNAB,TNDAT,TNMAX,QTNMAX,TNMAXDAT,NBJTN5,NBJTN10,NBJTNI10,NBJTNI15,NBJTNI20,NBJTNS20,NBJTNS25,NBJGELEE,TAMPLIM,QTAMPLIM,TAMPLIAB,QTAMPLIAB,TAMPLIABDAT,NBTAMPLI,TM,QTM,NBTM,TMM,QTMM,NBTMM,NBJTMS24,TMMIN,QTMMIN,TMMINDAT,TMMAX,QTMMAX,TMMAXDAT,UNAB,QUNAB,UNABDAT,NBUN,UXAB,QUXAB,UXABDAT,NBUX,UMM,QUMM,NBUM,TSVM,QTSVM,NBTSVM,ETP,QETP,FXIAB,QFXIAB,DXIAB,QDXIAB,FXIDAT,NBJFF10,NBJFF16,NBJFF28,NBFXI,FXI3SAB,QFXI3SAB,DXI3SAB,QDXI3SAB,FXI3SDAT,NBJFXI3S10,NBJFXI3S16,NBJFXI3S28,NBFXI3S,FXYAB,QFXYAB,DXYAB,QDXYAB,FXYABDAT,NBJFXY8,NBJFXY10,NBJFXY15,NBFXY,FFM,QFFM,NBFFM,INST,QINST,NBINST,NBSIGMA0,NBSIGMA20,NBSIGMA80,GLOT,QGLOT,NBGLOT,DIFT,QDIFT,NBDIFT,DIRT,QDIRT,NBDIRT,HNEIGEFTOT,QHNEIGEFTOT,HNEIGEFAB,QHNEIGEFAB,HNEIGEFDAT,NBHNEIGEF,NBJNEIG,NBJHNEIGEF1,NBJHNEIGEF5,NBJHNEIGEF10,NBJSOLNG,NEIGETOTM,QNEIGETOTM,NEIGETOTAB,QNEIGETOTAB,NEIGETOTABDAT,NBJNEIGETOT1,NBJNEIGETOT10,NBJNEIGETOT30,NBJGREL,NBJORAG,NBJBROU
0,1014002,ARBENT,46.278167,5.669,534,202401,118.8,1.0,31.0,NaN,38.2,1.0,17.0,16.0,7.0,4.0,1.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,7.7,1.0,31.0,NaN,16.7,1.0,28.0,-1.2,1.0,8.0,3.0,0.0,0.0,0.0,31.0,31.0,0.0,-0.8,1.0,31.0,NaN,-12.3,1.0,20.0,8.3,1.0,25.0,5.0,1.0,31.0,31.0,31.0,0.0,0.0,16.0,8.5,1.0,20.4,1.0,28.0,31.0,3.5,1.0,31.0,3.1,1.0,31.0,0.0,-5.2,1.0,20.0,10.5,1.0,3.0,26.0,1.0,28.0,31.0,98.0,1.0,28.0,31.0,86.0,1.0,31.0,6.7,9.0,31.0,NaN,NaN,19.5,1.0,140.0,1.0,2.0,7.0,4.0,0.0,31.0,17.6,1.0,NaN,0.0,2.0,7.0,1.0,0.0,31.0,10.5,1.0,140.0,1.0,2.0,1.0,1.0,0.0,31.0,1.9,1.0,31.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,9.0,2.0,9.0,19.0,4.0,0.0,0.0,NaN,NaN,NaN
1,1014002,ARBENT,46.278167,5.669,534,202402,107.8,1.0,29.0,NaN,20.6,1.0,22.0,12.0,8.0,4.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,10.9,1.0,29.0,NaN,17.4,1.0,15.0,3.3,1.0,4.0,0.0,0.0,0.0,0.0,29.0,29.0,0.0,2.4,1.0,29.0,NaN,-4.7,1.0,6.0,9.3,1.0,9.0,0.0,0.0,29.0,29.0,29.0,0.0,0.0,11.0,8.4,1.0,18.8,1.0,15.0,29.0,6.6,1.0,29.0,6.3,1.0,29.0,0.0,1.1,1.0,6.0,12.2,1.0,16.0,26.0,1.0,15.0,29.0,98.0,1.0,29.0,29.0,82.0,1.0,29.0,7.8,9.0,29.0,NaN,NaN,20.6,1.0,140.0,9.0,25.0,14.0,4.0,0.0,29.0,18.8,1.0,NaN,0.0,25.0,11.0,2.0,0.0,29.0,11.1,1.0,140.0,9.0,25.0,3.0,1.0,0.0,29.0,2.0,1.0,29.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,9.0,0.0,9.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN
2,1014002,ARBENT,46.278167,5.669,534,202403,115.8,1.0,31.0,NaN,30.0,1.0,31.0,15.0,6.0,2.0,1.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,14.2,1.0,31.0,NaN,22.3,1.0,20.0,5.6,1.0,4.0,0.0,0.0,0.0,0.0,26.0,31.0,0.0,2.7,1.0,31.0,NaN,-6.2,1.0,25.0,10.9,1.0,29.0,1.0,0.0,30.0,31.0,31.0,0.0,0.0,4.0,11.5,1.0,21.6,1.0,20.0,31.0,8.4,1.0,31.0,8.0,1.0,31.0,0.0,3.4,1.0,11.0,15.5,1.0,29.0,18.0,1.0,30.0,31.0,98.0,1.0,31.0,31.0,74.0,1.0,31.0,7.6,9.0,31.0,NaN,NaN,23.5,1.0,130.0,1.0,28.0,14.0,5.0,0.0,31.0,20.2,1.0,NaN,0.0,28.0,11.0,3.0,0.0,31.0,10.5,1.0,140.0,1.0,28.0,6.0,2.0,0.0,31.0,2.0,1.0,31.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,9.0,4.0,9.0,27.0,1.0,0.0,0.0,NaN,NaN,NaN
3,1014002,ARBENT,46.278167,5.669,534,202404,135.1,1.0,30.0,NaN,38.0,1.0,28.0,16.0,8.0,6.0,1.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,15.6,1.0,30.0,NaN,27.6,1.0,14.0,5.7,1.0,22.0,0.0,5.0,0.0,0.0,22.0,29.0,0.0,3.5,1.0,30.0,NaN,-5.6,1.0,24.0,13.3,1.0,6.0,2.0,0.0,29.0,30.0,30.0,0.0,0.0,6.0,12.1,1.0,24.1,1.0,14.0,30.0,9.6,1.0,30.0,9.6,1.0,30.0,0.0,0.1,1.0,22.0,19.4,1.0,6.0,18.0,1.0,6.0,30.0,98.0,1.0,29.0,30.0,72.0,1.0,30.0,8.2,9.0,30.0,NaN,NaN,18.4,1.0,170.0,9.0,6.0,20.0,1.0,0.0,30.0,15.8,1.0,NaN,0.0,6.0,19.0,0.0,0.0,30.0,8.6,1.0,320.0,1.0,20.0,4.0,0.0,0.0,30.0,2.3,1.0,30.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,9.0,0.0,9.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN
4,1014002,ARBENT,46.278167,5.669,534,202405,198.0,1.0,31.0,NaN,27.4,1.0,14.0,20.0,14.0,6.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,19.4,1.0,31.0,NaN,26.4,1.0,11.0,9.0,1.0,2.0,0.0,3.0,0.0,0.0,17.0,31.0,0.0,7.3,1.0,31.0,NaN,0.5,1.0,4.0,13.0,1.0,30.0,0.0,0.0,25.0,31.0,31.0,0.0,0.0,0.0,12.1,1.0,21.9,1.0,10.0,31.0,13.4,1.0,31.0,12.9,1.0,31.0,0.0,8.4,1.0,2.0,17.1,1.0,13.0,27.0,1.0,12.0,31.0,98.0,1.0,27.0,31.0,80.0,1.0,31.0,11.6,9.0,31.0,NaN,NaN,13.2,1.0,200.0,9.0,4.0,9.0,0.0,0.0,31.0,12.7,1.0,NaN,0.0,4.0,5.0,0.0,0.0,31.0,7.5,1.0,350.0,1.0,8.0,0.0,0.0,0.0,31.0,1.6,1.0,31.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,9.0,0.0,9.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN

In [428]:
data_weather_01_2024['NOM_USUEL'].value_counts()

NOM_USUEL
ARBENT                           19
BALAN_AERO                       19
BELLEY                           19
VERIZIEU                         19
CESSY                            19
CEYZERIAT_SAPC                   19
AMBERIEU                         19
DIVONNE ZA                       19
LA BALME SUR CERDON_SAPC         19
MARLIEUX                         19
MIJOUX                           19
NANTUA                           19
ST RAMBERT CG01                  19
SAINT JULIEN SUR REYSSOUZE       19
SUTRIEU                          19
HAUTEVILLE_EDF_RIC-A2-DOUBLON    18
Name: count, dtype: int64

In [429]:
data_weather_01_2024['NUM_POSTE'].value_counts()

NUM_POSTE
1014002    19
1027003    19
1034004    19
1064001    19
1071001    19
1072001    19
1089001    19
1143002    19
1200002    19
1235001    19
1247003    19
1269001    19
1384003    19
1367002    19
1414001    19
1185006    18
Name: count, dtype: int64

In [430]:
data_weather_01_2024.shape

(303, 162)

In [431]:
# Define the mapping of raw column names to clearer, more descriptive ones

# columns_selected = {

#     # Informations
#     'NUM_POSTE': 'postal_code',
#     'NOM_USUEL': 'city',
#     'LAT': 'latitude',
#     'LON': 'longitude',
#     'AAAAMM': 'date',

#     # Temperatures
#     'TX': 'temp_max_avg_celsius',            # Average of daily maximum temperatures
#     'TXAB': 'temp_max_abs_celsius',          # Absolute highest temperature recorded
#     'NBJTX30': 'days_temp_max_30c_plus',      # Number of days with max temp ≥ 30°C
#     'NBJTX35': 'days_temp_max_35c_plus',      # Number of days with max temp ≥ 35°C
#     'TN': 'temp_min_avg_celsius',            # Average of daily minimum temperatures
#     'TNAB': 'temp_min_abs_celsius',          # Absolute lowest temperature recorded
#     'TM': 'temp_mean_avg_celsius',           # Monthly average temperature

#     # Precipitation
#     'RR': 'precip_total_mm',                 # Total monthly precipitation
#     'RRAB': 'precip_max_24h_mm',             # Maximum precipitation in 24 hours
#     'NBJRR30': 'days_precip_30mm_plus',      # Number of days with ≥30 mm of rain
#     'NBJRR50': 'days_precip_50mm_plus',      # Number of days with ≥50 mm of rain

#     # Sunshine & Radiation
#     'INST': 'sunshine_duration_min',         # Total sunshine duration in minutes
#     'GLOT': 'solar_radiation_global_J_cm2',  # Global solar radiation (Joules/cm²)

#     # Extreme weather events
#     'FXIAB': 'wind_gust_max_m_s',            # Maximum wind gust recorded (m/s)
#     'NBJORAG': 'days_with_thunderstorm',     # Number of days with thunderstorms
#     'NBJGREL': 'days_with_hail'              # Number of days with hail
# }

columns_selected = {

    # Location & date information
    'NUM_POSTE': 'postal_code',               # Weather station ID 
    'NOM_USUEL': 'city',                      # Name of the city
    'LAT': 'latitude',                        # Latitude of the station
    'LON': 'longitude',                       # Longitude of the station
    'AAAAMM': 'date',                         # Observation date

    # Temperatures 
    'TXAB': 'temp_max_abs_celsius',           # Absolute maximum temperature during the month
    'NBJTX35': 'days_temp_max_35c_plus',      # Number of days with max temp ≥ 35°C
    'TM': 'temp_mean_avg_celsius',            # Monthly mean temperature 

    # Precipitation 
    'RR': 'precip_total_mm',                  # Total monthly precipitation (mm)
    'RRAB': 'precip_max_24h_mm',              # Maximum precipitation in a 24-hour period
    'NBJRR50': 'days_precip_50mm_plus',       # Number of days with ≥ 50 mm rainfall

    # Sunshine 
    'INST': 'sunshine_duration_min',          # Total sunshine duration in the month (minutes)

    # Extreme weather 
    'FXIAB': 'wind_gust_max_m_s',             # Maximum wind gust (m/s)
    'NBJORAG': 'days_with_thunderstorm',      # Number of days with thunderstorms
    'NBJGREL': 'days_with_hail'               # Number of days with hail
}



# Rename columns with clearer names
data_weather_01_2024.rename(columns=columns_selected, inplace=True)

# Keep only the selected columns (now renamed)
data_weather_01_2024 = data_weather_01_2024[list(columns_selected.values())]

# Display the first rows of the cleaned dataset
data_weather_01_2024.head()

,postal_code,city,latitude,longitude,date,temp_max_abs_celsius,days_temp_max_35c_plus,temp_mean_avg_celsius,precip_total_mm,precip_max_24h_mm,days_precip_50mm_plus,sunshine_duration_min,wind_gust_max_m_s,days_with_thunderstorm,days_with_hail
0,1014002,ARBENT,46.278167,5.669,202401,16.7,0.0,3.5,118.8,38.2,0.0,NaN,19.5,NaN,NaN
1,1014002,ARBENT,46.278167,5.669,202402,17.4,0.0,6.6,107.8,20.6,0.0,NaN,20.6,NaN,NaN
2,1014002,ARBENT,46.278167,5.669,202403,22.3,0.0,8.4,115.8,30.0,0.0,NaN,23.5,NaN,NaN
3,1014002,ARBENT,46.278167,5.669,202404,27.6,0.0,9.6,135.1,38.0,0.0,NaN,18.4,NaN,NaN
4,1014002,ARBENT,46.278167,5.669,202405,26.4,0.0,13.4,198.0,27.4,0.0,NaN,13.2,NaN,NaN

In [432]:
# from test_func import print_hello

# print_hello()

In [433]:
data_weather_01_2024.shape

(303, 15)

In [434]:
data_weather_01_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   postal_code             303 non-null    int64
 1   city                    303 non-null    object
 2   latitude                303 non-null    float64
 3   longitude               303 non-null    float64
 4   date                    303 non-null    int64
 5   temp_max_abs_celsius    302 non-null    float64
 6   days_temp_max_35c_plus  302 non-null    float64
 7   temp_mean_avg_celsius   302 non-null    float64
 8   precip_total_mm         283 non-null    float64
 9   precip_max_24h_mm       284 non-null    float64
 10  days_precip_50mm_plus   284 non-null    float64
 11  sunshine_duration_min   57 non-null     float64
 12  wind_gust_max_m_s       95 non-null     float64
 13  days_with_thunderstorm  0 non-null      float64
 14  days_with_hail          0 non-null      float64
dtypes: float64(12), int64(2), object(1)
memory usage: 35.6+ KB

In [435]:
data_weather_01_2024['date'] = pd.to_datetime(data_weather_01_2024['date'].astype(str), format='%Y%m')

data_weather_01_2024['year'] = pd.to_datetime(data_weather_01_2024['date']).dt.year
data_weather_01_2024['month'] = pd.to_datetime(data_weather_01_2024['date']).dt.month
data_weather_01_2024['quarter'] = pd.to_datetime(data_weather_01_2024['date']).dt.quarter
data_weather_01_2024.head()

,postal_code,city,latitude,longitude,date,temp_max_abs_celsius,days_temp_max_35c_plus,temp_mean_avg_celsius,precip_total_mm,precip_max_24h_mm,days_precip_50mm_plus,sunshine_duration_min,wind_gust_max_m_s,days_with_thunderstorm,days_with_hail,year,month,quarter
0,1014002,ARBENT,46.278167,5.669,2024-01-01,16.7,0.0,3.5,118.8,38.2,0.0,NaN,19.5,NaN,NaN,2024,1,1
1,1014002,ARBENT,46.278167,5.669,2024-02-01,17.4,0.0,6.6,107.8,20.6,0.0,NaN,20.6,NaN,NaN,2024,2,1
2,1014002,ARBENT,46.278167,5.669,2024-03-01,22.3,0.0,8.4,115.8,30.0,0.0,NaN,23.5,NaN,NaN,2024,3,1
3,1014002,ARBENT,46.278167,5.669,2024-04-01,27.6,0.0,9.6,135.1,38.0,0.0,NaN,18.4,NaN,NaN,2024,4,2
4,1014002,ARBENT,46.278167,5.669,2024-05-01,26.4,0.0,13.4,198.0,27.4,0.0,NaN,13.2,NaN,NaN,2024,5,2

In [436]:
data_weather_01_2024['year_quarter'] = data_weather_01_2024['year'].astype(str) + 'T' + data_weather_01_2024['quarter'].astype(str)

data_weather_01_2024.head()

,postal_code,city,latitude,longitude,date,temp_max_abs_celsius,days_temp_max_35c_plus,temp_mean_avg_celsius,precip_total_mm,precip_max_24h_mm,days_precip_50mm_plus,sunshine_duration_min,wind_gust_max_m_s,days_with_thunderstorm,days_with_hail,year,month,quarter,year_quarter
0,1014002,ARBENT,46.278167,5.669,2024-01-01,16.7,0.0,3.5,118.8,38.2,0.0,NaN,19.5,NaN,NaN,2024,1,1,2024T1
1,1014002,ARBENT,46.278167,5.669,2024-02-01,17.4,0.0,6.6,107.8,20.6,0.0,NaN,20.6,NaN,NaN,2024,2,1,2024T1
2,1014002,ARBENT,46.278167,5.669,2024-03-01,22.3,0.0,8.4,115.8,30.0,0.0,NaN,23.5,NaN,NaN,2024,3,1,2024T1
3,1014002,ARBENT,46.278167,5.669,2024-04-01,27.6,0.0,9.6,135.1,38.0,0.0,NaN,18.4,NaN,NaN,2024,4,2,2024T2
4,1014002,ARBENT,46.278167,5.669,2024-05-01,26.4,0.0,13.4,198.0,27.4,0.0,NaN,13.2,NaN,NaN,2024,5,2,2024T2

In [437]:
data_weather_01_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   postal_code             303 non-null    int64
 1   city                    303 non-null    object
 2   latitude                303 non-null    float64
 3   longitude               303 non-null    float64
 4   date                    303 non-null    datetime64[ns]
 5   temp_max_abs_celsius    302 non-null    float64
 6   days_temp_max_35c_plus  302 non-null    float64
 7   temp_mean_avg_celsius   302 non-null    float64
 8   precip_total_mm         283 non-null    float64
 9   precip_max_24h_mm       284 non-null    float64
 10  days_precip_50mm_plus   284 non-null    float64
 11  sunshine_duration_min   57 non-null     float64
 12  wind_gust_max_m_s       95 non-null     float64
 13  days_with_thunderstorm  0 non-null      float64
 14  days_with_hail          0 non-null      float64
 15  year                    303 non-null    int32
 16  month                   303 non-null    int32
 17  quarter                 303 non-null    int32
 18  year_quarter            303 non-null    object
dtypes: datetime64[ns](1), float64(12), int32(3), int64(1), object(2)
memory usage: 41.6+ KB

In [438]:
data_weather_01_2024 = data_weather_01_2024[data_weather_01_2024['year'] == 2024].copy()

In [439]:
data_weather_01_2024['year'].unique

<bound method Series.unique of 0      2024
1      2024
2      2024
3      2024
4      2024
       ...
291    2024
292    2024
293    2024
294    2024
295    2024
Name: year, Length: 192, dtype: int32>

In [440]:
data_weather_01_2024.shape

(192, 19)

In [441]:
data_weather_01_2024.columns

Index(['postal_code', 'city', 'latitude', 'longitude', 'date',
       'temp_max_abs_celsius', 'days_temp_max_35c_plus',
       'temp_mean_avg_celsius', 'precip_total_mm', 'precip_max_24h_mm',
       'days_precip_50mm_plus', 'sunshine_duration_min', 'wind_gust_max_m_s',
       'days_with_thunderstorm', 'days_with_hail', 'year', 'month', 'quarter',
       'year_quarter'],
      dtype='object')

In [442]:
data_weather_01_2024.head()

,postal_code,city,latitude,longitude,date,temp_max_abs_celsius,days_temp_max_35c_plus,temp_mean_avg_celsius,precip_total_mm,precip_max_24h_mm,days_precip_50mm_plus,sunshine_duration_min,wind_gust_max_m_s,days_with_thunderstorm,days_with_hail,year,month,quarter,year_quarter
0,1014002,ARBENT,46.278167,5.669,2024-01-01,16.7,0.0,3.5,118.8,38.2,0.0,NaN,19.5,NaN,NaN,2024,1,1,2024T1
1,1014002,ARBENT,46.278167,5.669,2024-02-01,17.4,0.0,6.6,107.8,20.6,0.0,NaN,20.6,NaN,NaN,2024,2,1,2024T1
2,1014002,ARBENT,46.278167,5.669,2024-03-01,22.3,0.0,8.4,115.8,30.0,0.0,NaN,23.5,NaN,NaN,2024,3,1,2024T1
3,1014002,ARBENT,46.278167,5.669,2024-04-01,27.6,0.0,9.6,135.1,38.0,0.0,NaN,18.4,NaN,NaN,2024,4,2,2024T2
4,1014002,ARBENT,46.278167,5.669,2024-05-01,26.4,0.0,13.4,198.0,27.4,0.0,NaN,13.2,NaN,NaN,2024,5,2,2024T2

In [443]:
data_weather_01_2024['postal_code'] = data_weather_01_2024['postal_code'].astype(str).str[:4].str.zfill(5)
data_weather_01_2024.head()

,postal_code,city,latitude,longitude,date,temp_max_abs_celsius,days_temp_max_35c_plus,temp_mean_avg_celsius,precip_total_mm,precip_max_24h_mm,days_precip_50mm_plus,sunshine_duration_min,wind_gust_max_m_s,days_with_thunderstorm,days_with_hail,year,month,quarter,year_quarter
0,01014,ARBENT,46.278167,5.669,2024-01-01,16.7,0.0,3.5,118.8,38.2,0.0,NaN,19.5,NaN,NaN,2024,1,1,2024T1
1,01014,ARBENT,46.278167,5.669,2024-02-01,17.4,0.0,6.6,107.8,20.6,0.0,NaN,20.6,NaN,NaN,2024,2,1,2024T1
2,01014,ARBENT,46.278167,5.669,2024-03-01,22.3,0.0,8.4,115.8,30.0,0.0,NaN,23.5,NaN,NaN,2024,3,1,2024T1
3,01014,ARBENT,46.278167,5.669,2024-04-01,27.6,0.0,9.6,135.1,38.0,0.0,NaN,18.4,NaN,NaN,2024,4,2,2024T2
4,01014,ARBENT,46.278167,5.669,2024-05-01,26.4,0.0,13.4,198.0,27.4,0.0,NaN,13.2,NaN,NaN,2024,5,2,2024T2

In [444]:
data_insee = pd.read_csv('../ref_espace_communes.csv')
data_insee.head()

,code_commune_INSEE,code_postal,latitude,longitude,nom_commune_complet,nom_departement,code_region,nom_region
0,01001,1400,46.153426,4.926114,L'Abergement-Clémenciat,Ain,84,Auvergne-Rhône-Alpes
1,01002,1640,46.009188,5.428017,L'Abergement-de-Varey,Ain,84,Auvergne-Rhône-Alpes
2,01004,1500,45.960848,5.372926,Ambérieu-en-Bugey,Ain,84,Auvergne-Rhône-Alpes
3,01005,1330,45.996180,4.912273,Ambérieux-en-Dombes,Ain,84,Auvergne-Rhône-Alpes
4,01006,1300,45.749499,5.594320,Ambléon,Ain,84,Auvergne-Rhône-Alpes

In [445]:
data_weather_01_2024 = data_weather_01_2024.merge(
    data_insee, 
    left_on=['postal_code'],  
    right_on=['code_commune_INSEE'], 
    how='left') \
    .drop(columns=['postal_code', 'latitude_y', 'longitude_y', 'city'], axis=1) \
    .rename(columns={'latitude_x': 'latitude', 'longitude_x': 'longitude'})

data_weather_01_2024.head()

,latitude,longitude,date,temp_max_abs_celsius,days_temp_max_35c_plus,temp_mean_avg_celsius,precip_total_mm,precip_max_24h_mm,days_precip_50mm_plus,sunshine_duration_min,wind_gust_max_m_s,days_with_thunderstorm,days_with_hail,year,month,quarter,year_quarter,code_commune_INSEE,code_postal,nom_commune_complet,nom_departement,code_region,nom_region
0,46.278167,5.669,2024-01-01,16.7,0.0,3.5,118.8,38.2,0.0,NaN,19.5,NaN,NaN,2024,1,1,2024T1,01014,1100,Arbent,Ain,84,Auvergne-Rhône-Alpes
1,46.278167,5.669,2024-02-01,17.4,0.0,6.6,107.8,20.6,0.0,NaN,20.6,NaN,NaN,2024,2,1,2024T1,01014,1100,Arbent,Ain,84,Auvergne-Rhône-Alpes
2,46.278167,5.669,2024-03-01,22.3,0.0,8.4,115.8,30.0,0.0,NaN,23.5,NaN,NaN,2024,3,1,2024T1,01014,1100,Arbent,Ain,84,Auvergne-Rhône-Alpes
3,46.278167,5.669,2024-04-01,27.6,0.0,9.6,135.1,38.0,0.0,NaN,18.4,NaN,NaN,2024,4,2,2024T2,01014,1100,Arbent,Ain,84,Auvergne-Rhône-Alpes
4,46.278167,5.669,2024-05-01,26.4,0.0,13.4,198.0,27.4,0.0,NaN,13.2,NaN,NaN,2024,5,2,2024T2,01014,1100,Arbent,Ain,84,Auvergne-Rhône-Alpes

In [446]:
data_weather_01_2024.shape

(192, 23)

In [447]:
data_weather_01_2024['code_postal'].unique()

array([1100, 1360, 1300, 1470, 1170, 1250, 1500, 1220, 1110, 1450, 1240,
       1130, 1560, 1230, 1260])

In [448]:
data_weather_01_2024.isna().sum()

latitude                    0
longitude                   0
date                        0
temp_max_abs_celsius        1
days_temp_max_35c_plus      1
temp_mean_avg_celsius       1
precip_total_mm            12
precip_max_24h_mm          12
days_precip_50mm_plus      12
sunshine_duration_min     156
wind_gust_max_m_s         132
days_with_thunderstorm    192
days_with_hail            192
year                        0
month                       0
quarter                     0
year_quarter                0
code_commune_INSEE          0
code_postal                 0
nom_commune_complet         0
nom_departement             0
code_region                 0
nom_region                  0
dtype: int64

In [449]:
cols_to_fill = [
    'temp_max_abs_celsius',
    'days_temp_max_35c_plus',
    'precip_total_mm',
    'sunshine_duration_min',
    'temp_mean_avg_celsius',
    'precip_max_24h_mm',
    'days_precip_50mm_plus',
    'wind_gust_max_m_s',
    'days_with_thunderstorm',
    'days_with_hail'
]

for col in cols_to_fill:
    data_weather_01_2024[col] = (
        data_weather_01_2024
        .groupby(['code_commune_INSEE', 'month'])[col]
        .transform(lambda x: x.fillna(x.mean())))
    
    mask_missing = data_weather_01_2024[col].isna()
    data_weather_01_2024.loc[mask_missing, col] = (
        data_weather_01_2024
        .groupby(['code_postal', 'month'])[col]
        .transform(lambda x: x.fillna(x.mean()))
    )

    mask_missing = data_weather_01_2024[col].isna()
    data_weather_01_2024.loc[mask_missing, col] = (
        data_weather_01_2024
        .groupby(['nom_departement', 'month'])[col]
        .transform(lambda x: x.fillna(x.mean()))
    )

    mask_missing = data_weather_01_2024[col].isna()
    data_weather_01_2024.loc[mask_missing, col] = (
        data_weather_01_2024
        .groupby(['code_region', 'month'])[col]
        .transform(lambda x: x.fillna(x.mean()))
    )

In [450]:
data_weather_01_2024.isna().sum()

latitude                    0
longitude                   0
date                        0
temp_max_abs_celsius        0
days_temp_max_35c_plus      0
temp_mean_avg_celsius       0
precip_total_mm             0
precip_max_24h_mm           0
days_precip_50mm_plus       0
sunshine_duration_min       0
wind_gust_max_m_s           0
days_with_thunderstorm    192
days_with_hail            192
year                        0
month                       0
quarter                     0
year_quarter                0
code_commune_INSEE          0
code_postal                 0
nom_commune_complet         0
nom_departement             0
code_region                 0
nom_region                  0
dtype: int64

In [451]:
data_weather_01_2024['days_with_thunderstorm']

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
187   NaN
188   NaN
189   NaN
190   NaN
191   NaN
Name: days_with_thunderstorm, Length: 192, dtype: float64

In [452]:
data_weather_01_2024['year'].nunique()

1

In [453]:
def heat_related_indicators(temp_max_abs_celsius, days_temp_max_35c_plus):
    if (temp_max_abs_celsius <= 30) and (days_temp_max_35c_plus == 0):
        return 'Low'
    elif (30 < temp_max_abs_celsius <= 35) or (1 <= days_temp_max_35c_plus <= 2):
        return 'Moderate'
    elif (35 < temp_max_abs_celsius <= 40) or (3 <= days_temp_max_35c_plus <= 5):
        return 'High'
    elif (temp_max_abs_celsius > 40) or (days_temp_max_35c_plus > 5):
        return 'Critical'
    else:
        return 'Unknown'
    

def heavy_rainfall(precip_max_24h_mm, days_precip_50mm_plus):
    if precip_max_24h_mm <= 20 and days_precip_50mm_plus == 0:
        return 'Low'
    elif (20 < precip_max_24h_mm <= 40) or (days_precip_50mm_plus == 1):
        return 'Moderate'
    elif (40 < precip_max_24h_mm <= 60) or (2 <= days_precip_50mm_plus <= 3):
        return 'High'
    elif precip_max_24h_mm > 60 or days_precip_50mm_plus > 3:
        return 'Critical'
    else:
        return 'Unknown'

def drought(precip_total_mm, sunshine_duration_min, temp_mean_avg_celsius):
    score = 0

    if precip_total_mm < 20:
        score += 2
    elif 20 <= precip_total_mm < 40:
        score += 1

    if sunshine_duration_min > 300:
        score += 2
    elif 251 <= sunshine_duration_min <= 300:
        score += 1

    if temp_mean_avg_celsius > 27:
        score += 3  
    elif 25 < temp_mean_avg_celsius <= 27:
        score += 2
    elif 22 <= temp_mean_avg_celsius <= 25:
        score += 1

    if score <= 1:
        return 'Low'
    elif score == 2 or score == 3:
        return 'Moderate'
    elif score in [4, 5]:
        return 'High'
    else:
        return 'Critical'

    
def extrem_events(wind_gust_max_m_s, days_with_thunderstorm, days_with_hail):
    score = 0

    if wind_gust_max_m_s > 30:
        score += 2
    elif 25 < wind_gust_max_m_s <= 30:
        score += 1

    if days_with_thunderstorm > 5:
        score += 2
    elif 4 <= days_with_thunderstorm <= 5:
        score += 1

    if days_with_hail > 3:
        score += 2
    elif 2 <= days_with_hail <= 3:
        score += 1

    if score == 0:
        return 'Low'
    elif score == 1 or score == 2:
        return 'Moderate'
    elif score == 3 or score == 4:
        return 'High'
    else:
        return 'Critical'

In [454]:
data_weather_01_2024['heat_level'] = data_weather_01_2024.apply(
    lambda row: heat_related_indicators(
        row['temp_max_abs_celsius'],
        row['days_temp_max_35c_plus']
    ),
    axis=1
)

data_weather_01_2024['rainfall_level'] = data_weather_01_2024.apply(
    lambda row: heavy_rainfall(
        row['precip_max_24h_mm'],
        row['days_precip_50mm_plus']
    ),
    axis=1
)

data_weather_01_2024['drought_level'] = data_weather_01_2024.apply(
    lambda row: drought(
        row['precip_total_mm'],
        row['sunshine_duration_min'],
        row['temp_mean_avg_celsius']
    ),
    axis=1
)

data_weather_01_2024['extrem_events_level'] = data_weather_01_2024.apply(
    lambda row: extrem_events(
        row['wind_gust_max_m_s'],
        row['days_with_thunderstorm'],
        row['days_with_hail']
    ),
    axis=1
)

data_weather_01_2024.head()

,latitude,longitude,date,temp_max_abs_celsius,days_temp_max_35c_plus,temp_mean_avg_celsius,precip_total_mm,precip_max_24h_mm,days_precip_50mm_plus,sunshine_duration_min,wind_gust_max_m_s,days_with_thunderstorm,days_with_hail,year,month,quarter,year_quarter,code_commune_INSEE,code_postal,nom_commune_complet,nom_departement,code_region,nom_region,heat_level,rainfall_level,drought_level,extrem_events_level
0,46.278167,5.669,2024-01-01,16.7,0.0,3.5,118.8,38.2,0.0,4427.00,19.5,NaN,NaN,2024,1,1,2024T1,01014,1100,Arbent,Ain,84,Auvergne-Rhône-Alpes,Low,Moderate,Moderate,Low
1,46.278167,5.669,2024-02-01,17.4,0.0,6.6,107.8,20.6,0.0,5643.00,20.6,NaN,NaN,2024,2,1,2024T1,01014,1100,Arbent,Ain,84,Auvergne-Rhône-Alpes,Low,Moderate,Moderate,Low
2,46.278167,5.669,2024-03-01,22.3,0.0,8.4,115.8,30.0,0.0,7165.00,23.5,NaN,NaN,2024,3,1,2024T1,01014,1100,Arbent,Ain,84,Auvergne-Rhône-Alpes,Low,Moderate,Moderate,Low
3,46.278167,5.669,2024-04-01,27.6,0.0,9.6,135.1,38.0,0.0,8892.50,18.4,NaN,NaN,2024,4,2,2024T2,01014,1100,Arbent,Ain,84,Auvergne-Rhône-Alpes,Low,Moderate,Moderate,Low
4,46.278167,5.669,2024-05-01,26.4,0.0,13.4,198.0,27.4,0.0,8462.25,13.2,NaN,NaN,2024,5,2,2024T2,01014,1100,Arbent,Ain,84,Auvergne-Rhône-Alpes,Low,Moderate,Moderate,Low

In [455]:
print('Heat level:', data_weather_01_2024['heat_level'].unique())
print('Rainfall level:', data_weather_01_2024['rainfall_level'].unique())
print('Drought level:', data_weather_01_2024['drought_level'].unique())
print('Extrem events level:', data_weather_01_2024['extrem_events_level'].unique())

Heat level: ['Low' 'Moderate' 'High']
Rainfall level: ['Moderate' 'High' 'Low']
Drought level: ['Moderate' 'High']
Extrem events level: ['Low' 'Moderate']

In [456]:
data_weather_01_2024[data_weather_01_2024['extrem_events_level'] == 'Moderate']

,latitude,longitude,date,temp_max_abs_celsius,days_temp_max_35c_plus,temp_mean_avg_celsius,precip_total_mm,precip_max_24h_mm,days_precip_50mm_plus,sunshine_duration_min,wind_gust_max_m_s,days_with_thunderstorm,days_with_hail,year,month,quarter,year_quarter,code_commune_INSEE,code_postal,nom_commune_complet,nom_departement,code_region,nom_region,heat_level,rainfall_level,drought_level,extrem_events_level
9,46.278167,5.669000,2024-10-01,24.1,0.0,13.8,176.3,37.6,0.0,5798.25,25.1,NaN,NaN,2024,10,4,2024T4,01014,1100,Arbent,Ain,84,Auvergne-Rhône-Alpes,Low,Moderate,Moderate,Moderate
10,46.278167,5.669000,2024-11-01,21.8,0.0,7.0,76.8,24.4,0.0,5403.50,26.7,NaN,NaN,2024,11,4,2024T4,01014,1100,Arbent,Ain,84,Auvergne-Rhône-Alpes,Low,Moderate,Moderate,Moderate
82,45.976500,5.329333,2024-11-01,20.1,0.0,8.0,34.0,14.9,0.0,4141.00,27.7,NaN,NaN,2024,11,4,2024T4,01089,1500,Château-Gaillard,Ain,84,Auvergne-Rhône-Alpes,Low,Low,Moderate,Moderate
186,45.916167,5.624667,2024-07-01,34.0,0.0,19.1,65.8,22.8,0.0,14576.00,29.5,NaN,NaN,2024,7,3,2024T3,01414,1260,Sutrieu,Ain,84,Auvergne-Rhône-Alpes,Moderate,Moderate,Moderate,Moderate
190,45.916167,5.624667,2024-11-01,17.9,0.0,6.4,87.4,34.6,0.0,9235.00,25.1,NaN,NaN,2024,11,4,2024T4,01414,1260,Sutrieu,Ain,84,Auvergne-Rhône-Alpes,Low,Moderate,Moderate,Moderate

In [457]:
data_weather_01_2024[data_weather_01_2024['rainfall_level'] == 'High']

,latitude,longitude,date,temp_max_abs_celsius,days_temp_max_35c_plus,temp_mean_avg_celsius,precip_total_mm,precip_max_24h_mm,days_precip_50mm_plus,sunshine_duration_min,wind_gust_max_m_s,days_with_thunderstorm,days_with_hail,year,month,quarter,year_quarter,code_commune_INSEE,code_postal,nom_commune_complet,nom_departement,code_region,nom_region,heat_level,rainfall_level,drought_level,extrem_events_level
21,45.833000,5.106667,2024-10-01,25.6,0.0,15.3,171.293333,43.16,0.266667,5798.25,24.066667,NaN,NaN,2024,10,4,2024T4,01027,1360,Balan,Ain,84,Auvergne-Rhône-Alpes,Low,High,Moderate,Low
32,45.769333,5.688000,2024-09-01,32.2,0.0,16.3,204.900000,40.10,0.000000,8522.75,18.100000,NaN,NaN,2024,9,3,2024T3,01034,1300,Belley,Ain,84,Auvergne-Rhône-Alpes,Moderate,High,Moderate,Low
36,45.777167,5.487167,2024-01-01,16.8,0.0,5.0,104.800000,44.40,0.000000,4427.00,17.916667,NaN,NaN,2024,1,1,2024T1,01064,1470,Briord,Ain,84,Auvergne-Rhône-Alpes,Low,High,Moderate,Low
92,46.341500,6.139667,2024-09-01,32.1,0.0,15.4,145.600000,41.20,0.000000,8522.75,21.250000,NaN,NaN,2024,9,3,2024T3,01143,1220,Divonne-les-Bains,Ain,84,Auvergne-Rhône-Alpes,Moderate,High,Moderate,Low
101,45.979667,5.598167,2024-06-01,28.8,0.0,15.9,111.200000,44.20,0.000000,9521.25,19.400000,NaN,NaN,2024,6,2,2024T2,01185,1110,Hauteville-Lompnes,Ain,84,Auvergne-Rhône-Alpes,Low,High,Moderate,Low
105,45.979667,5.598167,2024-10-01,22.5,0.0,12.0,243.000000,44.00,0.000000,5798.25,24.066667,NaN,NaN,2024,10,4,2024T4,01185,1110,Hauteville-Lompnes,Ain,84,Auvergne-Rhône-Alpes,Low,High,Moderate,Low
113,46.090000,5.482000,2024-06-01,29.6,0.0,17.4,121.700000,45.20,0.000000,9521.25,19.400000,NaN,NaN,2024,6,2,2024T2,01200,1450,Labalme,Ain,84,Auvergne-Rhône-Alpes,Low,High,Moderate,Low
115,46.090000,5.482000,2024-08-01,33.8,0.0,21.4,92.000000,48.80,0.000000,17767.50,17.483333,NaN,NaN,2024,8,3,2024T3,01200,1450,Labalme,Ain,84,Auvergne-Rhône-Alpes,Moderate,High,Moderate,Low
123,46.038500,5.044333,2024-04-01,28.5,0.0,11.7,121.700000,48.10,0.000000,8892.50,20.183333,NaN,NaN,2024,4,2,2024T2,01235,1240,Marlieux,Ain,84,Auvergne-Rhône-Alpes,Low,High,Moderate,Low
132,46.378833,6.019333,2024-01-01,9.9,0.0,-0.4,233.900000,47.50,0.000000,4502.00,17.100000,NaN,NaN,2024,1,1,2024T1,01247,1170,Mijoux,Ain,84,Auvergne-Rhône-Alpes,Low,High,Moderate,Low
140,46.378833,6.019333,2024-09-01,26.7,0.0,11.5,238.400000,42.00,0.000000,8503.00,21.300000,NaN,NaN,2024,9,3,2024T3,01247,1170,Mijoux,Ain,84,Auvergne-Rhône-Alpes,Low,High,Moderate,Low
141,46.378833,6.019333,2024-10-01,19.9,0.0,10.1,214.300000,46.20,0.000000,4529.00,24.800000,NaN,NaN,2024,10,4,2024T4,01247,1170,Mijoux,Ain,84,Auvergne-Rhône-Alpes,Low,High,Moderate,Low
142,46.378833,6.019333,2024-11-01,17.6,0.0,3.8,127.500000,46.90,0.000000,4119.00,22.300000,NaN,NaN,2024,11,4,2024T4,01247,1170,Mijoux,Ain,84,Auvergne-Rhône-Alpes,Low,High,Moderate,Low
143,46.378833,6.019333,2024-12-01,9.7,0.0,-2.5,237.200000,49.70,0.000000,3720.00,20.600000,NaN,NaN,2024,12,4,2024T4,01247,1170,Mijoux,Ain,84,Auvergne-Rhône-Alpes,Low,High,Moderate,Low
147,46.148167,5.607333,2024-04-01,27.0,0.0,10.3,142.200000,46.30,0.000000,8892.50,20.183333,NaN,NaN,2024,4,2,2024T2,01269,1130,Nantua,Ain,84,Auvergne-Rhône-Alpes,Low,High,Moderate,Low
153,46.148167,5.607333,2024-10-01,23.6,0.0,14.1,179.000000,44.10,0.000000,5798.25,24.066667,NaN,NaN,2024,10,4,2024T4,01269,1130,Nantua,Ain,84,Auvergne-Rhône-Alpes,Low,High,Moderate,Low
158,46.403167,5.109833,2024-03-01,23.1,0.0,10.6,149.700000,42.00,0.000000,7165.00,21.800000,NaN,NaN,2024,3,1,2024T1,01367,1560,Saint-Julien-sur-Reyssouze,Ain,84,Auvergne-Rhône-Alpes,Low,High,Moderate,Low
165,46.403167,5.109833,2024-10-01,25.0,0.0,15.1,142.800000,45.60,0.000000,5798.25,24.066667,NaN,NaN,2024,10,4,2024T4,01367,1560,Saint-Julien-sur-Reyssouze,Ain,84,Auvergne-Rhône-Alpes,Low,High,Moderate,Low
177,45.950333,5.461000,2024-10-01,25.0,0.0,14.6,182.300000,44.80,0.000000,5798.25,24.066667,NaN,NaN,2024,10,4,2024T4,01384,1230,Saint-Rambert-en-Bugey,Ain,84,Auvergne-Rhône-Alpes,Low,High,Moderate,Low
188,45.916167,5.624667,2024-09-01,29.8,0.0,13.1,241.200000,44.40,0.000000,8373.00,20.100000,NaN,NaN,2024,9,3,2024T3,01414,1260,Sutrieu,Ain,84,Auvergne-Rhône-Alpes,Low,High,Moderate,Low

In [458]:
risk_mapping = {
    'Low': 0,
    'Moderate': 1,
    'High': 2,
    'Critical': 3
}

data_weather_01_2024['heat_score'] = data_weather_01_2024['heat_level'].map(risk_mapping)
data_weather_01_2024['rainfall_score'] = data_weather_01_2024['rainfall_level'].map(risk_mapping)
data_weather_01_2024['drought_score'] = data_weather_01_2024['drought_level'].map(risk_mapping)
data_weather_01_2024['extrem_events_score'] = data_weather_01_2024['extrem_events_level'].map(risk_mapping)

data_weather_01_2024.head()

,latitude,longitude,date,temp_max_abs_celsius,days_temp_max_35c_plus,temp_mean_avg_celsius,precip_total_mm,precip_max_24h_mm,days_precip_50mm_plus,sunshine_duration_min,wind_gust_max_m_s,days_with_thunderstorm,days_with_hail,year,month,quarter,year_quarter,code_commune_INSEE,code_postal,nom_commune_complet,nom_departement,code_region,nom_region,heat_level,rainfall_level,drought_level,extrem_events_level,heat_score,rainfall_score,drought_score,extrem_events_score
0,46.278167,5.669,2024-01-01,16.7,0.0,3.5,118.8,38.2,0.0,4427.00,19.5,NaN,NaN,2024,1,1,2024T1,01014,1100,Arbent,Ain,84,Auvergne-Rhône-Alpes,Low,Moderate,Moderate,Low,0,1,1,0
1,46.278167,5.669,2024-02-01,17.4,0.0,6.6,107.8,20.6,0.0,5643.00,20.6,NaN,NaN,2024,2,1,2024T1,01014,1100,Arbent,Ain,84,Auvergne-Rhône-Alpes,Low,Moderate,Moderate,Low,0,1,1,0
2,46.278167,5.669,2024-03-01,22.3,0.0,8.4,115.8,30.0,0.0,7165.00,23.5,NaN,NaN,2024,3,1,2024T1,01014,1100,Arbent,Ain,84,Auvergne-Rhône-Alpes,Low,Moderate,Moderate,Low,0,1,1,0
3,46.278167,5.669,2024-04-01,27.6,0.0,9.6,135.1,38.0,0.0,8892.50,18.4,NaN,NaN,2024,4,2,2024T2,01014,1100,Arbent,Ain,84,Auvergne-Rhône-Alpes,Low,Moderate,Moderate,Low,0,1,1,0
4,46.278167,5.669,2024-05-01,26.4,0.0,13.4,198.0,27.4,0.0,8462.25,13.2,NaN,NaN,2024,5,2,2024T2,01014,1100,Arbent,Ain,84,Auvergne-Rhône-Alpes,Low,Moderate,Moderate,Low,0,1,1,0

In [459]:
data_weather_01_2024['avg_risk_score'] = data_weather_01_2024[[
    'heat_score',
    'rainfall_score',
    'drought_score',
    'extrem_events_score'
]].mean(axis=1)

data_weather_01_2024.head()

,latitude,longitude,date,temp_max_abs_celsius,days_temp_max_35c_plus,temp_mean_avg_celsius,precip_total_mm,precip_max_24h_mm,days_precip_50mm_plus,sunshine_duration_min,wind_gust_max_m_s,days_with_thunderstorm,days_with_hail,year,month,quarter,year_quarter,code_commune_INSEE,code_postal,nom_commune_complet,nom_departement,code_region,nom_region,heat_level,rainfall_level,drought_level,extrem_events_level,heat_score,rainfall_score,drought_score,extrem_events_score,avg_risk_score
0,46.278167,5.669,2024-01-01,16.7,0.0,3.5,118.8,38.2,0.0,4427.00,19.5,NaN,NaN,2024,1,1,2024T1,01014,1100,Arbent,Ain,84,Auvergne-Rhône-Alpes,Low,Moderate,Moderate,Low,0,1,1,0,0.5
1,46.278167,5.669,2024-02-01,17.4,0.0,6.6,107.8,20.6,0.0,5643.00,20.6,NaN,NaN,2024,2,1,2024T1,01014,1100,Arbent,Ain,84,Auvergne-Rhône-Alpes,Low,Moderate,Moderate,Low,0,1,1,0,0.5
2,46.278167,5.669,2024-03-01,22.3,0.0,8.4,115.8,30.0,0.0,7165.00,23.5,NaN,NaN,2024,3,1,2024T1,01014,1100,Arbent,Ain,84,Auvergne-Rhône-Alpes,Low,Moderate,Moderate,Low,0,1,1,0,0.5
3,46.278167,5.669,2024-04-01,27.6,0.0,9.6,135.1,38.0,0.0,8892.50,18.4,NaN,NaN,2024,4,2,2024T2,01014,1100,Arbent,Ain,84,Auvergne-Rhône-Alpes,Low,Moderate,Moderate,Low,0,1,1,0,0.5
4,46.278167,5.669,2024-05-01,26.4,0.0,13.4,198.0,27.4,0.0,8462.25,13.2,NaN,NaN,2024,5,2,2024T2,01014,1100,Arbent,Ain,84,Auvergne-Rhône-Alpes,Low,Moderate,Moderate,Low,0,1,1,0,0.5

In [477]:
data_weather_01_2024['avg_risk_score'].unique()

array([0.5 , 0.75, 1.  , 0.25])

In [460]:
def risk_score_level(score):
    if score < 0.5:
        return 'Low'
    elif score < 1.5:
        return 'Moderate'
    elif score < 2.5:
        return 'High'
    else:
        return 'Critical'
    
data_weather_01_2024['risk_score_level'] = data_weather_01_2024['avg_risk_score'].apply(risk_score_level)

data_weather_01_2024.head()

,latitude,longitude,date,temp_max_abs_celsius,days_temp_max_35c_plus,temp_mean_avg_celsius,precip_total_mm,precip_max_24h_mm,days_precip_50mm_plus,sunshine_duration_min,wind_gust_max_m_s,days_with_thunderstorm,days_with_hail,year,month,quarter,year_quarter,code_commune_INSEE,code_postal,nom_commune_complet,nom_departement,code_region,nom_region,heat_level,rainfall_level,drought_level,extrem_events_level,heat_score,rainfall_score,drought_score,extrem_events_score,avg_risk_score,risk_score_level
0,46.278167,5.669,2024-01-01,16.7,0.0,3.5,118.8,38.2,0.0,4427.00,19.5,NaN,NaN,2024,1,1,2024T1,01014,1100,Arbent,Ain,84,Auvergne-Rhône-Alpes,Low,Moderate,Moderate,Low,0,1,1,0,0.5,Moderate
1,46.278167,5.669,2024-02-01,17.4,0.0,6.6,107.8,20.6,0.0,5643.00,20.6,NaN,NaN,2024,2,1,2024T1,01014,1100,Arbent,Ain,84,Auvergne-Rhône-Alpes,Low,Moderate,Moderate,Low,0,1,1,0,0.5,Moderate
2,46.278167,5.669,2024-03-01,22.3,0.0,8.4,115.8,30.0,0.0,7165.00,23.5,NaN,NaN,2024,3,1,2024T1,01014,1100,Arbent,Ain,84,Auvergne-Rhône-Alpes,Low,Moderate,Moderate,Low,0,1,1,0,0.5,Moderate
3,46.278167,5.669,2024-04-01,27.6,0.0,9.6,135.1,38.0,0.0,8892.50,18.4,NaN,NaN,2024,4,2,2024T2,01014,1100,Arbent,Ain,84,Auvergne-Rhône-Alpes,Low,Moderate,Moderate,Low,0,1,1,0,0.5,Moderate
4,46.278167,5.669,2024-05-01,26.4,0.0,13.4,198.0,27.4,0.0,8462.25,13.2,NaN,NaN,2024,5,2,2024T2,01014,1100,Arbent,Ain,84,Auvergne-Rhône-Alpes,Low,Moderate,Moderate,Low,0,1,1,0,0.5,Moderate

In [461]:
data_weather_01_2024['nom_departement'].unique()

array(['Ain'], dtype=object)

In [462]:
data_weather_01_2024.shape

(192, 33)

In [463]:
data_weather_01_14_23 = pd.read_csv('./data/MENSQ_01_previous-1950-2023.csv.gz',
                           compression='gzip',
                           sep=';')
data_weather_01_14_23.head()

,NUM_POSTE,NOM_USUEL,LAT,LON,ALTI,AAAAMM,RR,QRR,NBRR,RR_ME,RRAB,QRRAB,RRABDAT,NBJRR1,NBJRR5,NBJRR10,NBJRR30,NBJRR50,NBJRR100,PMERM,QPMERM,NBPMERM,PMERMINAB,QPMERMINAB,PMERMINABDAT,TX,QTX,NBTX,TX_ME,TXAB,QTXAB,TXDAT,TXMIN,QTXMIN,TXMINDAT,NBJTX0,NBJTX25,NBJTX30,NBJTX35,NBJTXI20,NBJTXI27,NBJTXS32,TN,QTN,NBTN,TN_ME,TNAB,QTNAB,TNDAT,TNMAX,QTNMAX,TNMAXDAT,NBJTN5,NBJTN10,NBJTNI10,NBJTNI15,NBJTNI20,NBJTNS20,NBJTNS25,NBJGELEE,TAMPLIM,QTAMPLIM,TAMPLIAB,QTAMPLIAB,TAMPLIABDAT,NBTAMPLI,TM,QTM,NBTM,TMM,QTMM,NBTMM,NBJTMS24,TMMIN,QTMMIN,TMMINDAT,TMMAX,QTMMAX,TMMAXDAT,UNAB,QUNAB,UNABDAT,NBUN,UXAB,QUXAB,UXABDAT,NBUX,UMM,QUMM,NBUM,TSVM,QTSVM,NBTSVM,ETP,QETP,FXIAB,QFXIAB,DXIAB,QDXIAB,FXIDAT,NBJFF10,NBJFF16,NBJFF28,NBFXI,FXI3SAB,QFXI3SAB,DXI3SAB,QDXI3SAB,FXI3SDAT,NBJFXI3S10,NBJFXI3S16,NBJFXI3S28,NBFXI3S,FXYAB,QFXYAB,DXYAB,QDXYAB,FXYABDAT,NBJFXY8,NBJFXY10,NBJFXY15,NBFXY,FFM,QFFM,NBFFM,INST,QINST,NBINST,NBSIGMA0,NBSIGMA20,NBSIGMA80,GLOT,QGLOT,NBGLOT,DIFT,QDIFT,NBDIFT,DIRT,QDIRT,NBDIRT,HNEIGEFTOT,QHNEIGEFTOT,HNEIGEFAB,QHNEIGEFAB,HNEIGEFDAT,NBHNEIGEF,NBJNEIG,NBJHNEIGEF1,NBJHNEIGEF5,NBJHNEIGEF10,NBJSOLNG,NEIGETOTM,QNEIGETOTM,NEIGETOTAB,QNEIGETOTAB,NEIGETOTABDAT,NBJNEIGETOT1,NBJNEIGETOT10,NBJNEIGETOT30,NBJGREL,NBJORAG,NBJBROU
0,1010001,ANGLEFORT,45.9,5.766667,280,195001,49.5,1.0,31.0,NaN,18.0,1.0,16.0,5.0,4.0,3.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1010001,ANGLEFORT,45.9,5.766667,280,195002,237.6,1.0,28.0,NaN,51.0,1.0,9.0,12.0,12.0,8.0,3.0,1.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1010001,ANGLEFORT,45.9,5.766667,280,195003,23.8,1.0,31.0,NaN,8.5,1.0,16.0,7.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1010001,ANGLEFORT,45.9,5.766667,280,195005,83.6,1.0,31.0,NaN,12.8,1.0,15.0,11.0,8.0,4.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1010001,ANGLEFORT,45.9,5.766667,280,195006,75.3,1.0,30.0,NaN,36.7,1.0,15.0,6.0,4.0,2.0,1.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [464]:
columns_selected = {

    # Location & date information
    'NUM_POSTE': 'postal_code',               # Weather station ID 
    'NOM_USUEL': 'city',                      # Name of the city
    'LAT': 'latitude',                        # Latitude of the station
    'LON': 'longitude',                       # Longitude of the station
    'AAAAMM': 'date',                         # Observation date

    # Temperatures 
    'TXAB': 'temp_max_abs_celsius',           # Absolute maximum temperature during the month
    'NBJTX35': 'days_temp_max_35c_plus',      # Number of days with max temp ≥ 35°C
    'TM': 'temp_mean_avg_celsius',            # Monthly mean temperature 

    # Precipitation 
    'RR': 'precip_total_mm',                  # Total monthly precipitation (mm)
    'RRAB': 'precip_max_24h_mm',              # Maximum precipitation in a 24-hour period
    'NBJRR50': 'days_precip_50mm_plus',       # Number of days with ≥ 50 mm rainfall

    # Sunshine 
    'INST': 'sunshine_duration_min',          # Total sunshine duration in the month (minutes)

    # Extreme weather 
    'FXIAB': 'wind_gust_max_m_s',             # Maximum wind gust (m/s)
    'NBJORAG': 'days_with_thunderstorm',      # Number of days with thunderstorms
    'NBJGREL': 'days_with_hail'               # Number of days with hail
}



# Rename columns with clearer names
data_weather_01_14_23.rename(columns=columns_selected, inplace=True)

# Keep only the selected columns (now renamed)
data_weather_01_14_23 = data_weather_01_14_23[list(columns_selected.values())]

# Display the first rows of the cleaned dataset
data_weather_01_14_23.head()

,postal_code,city,latitude,longitude,date,temp_max_abs_celsius,days_temp_max_35c_plus,temp_mean_avg_celsius,precip_total_mm,precip_max_24h_mm,days_precip_50mm_plus,sunshine_duration_min,wind_gust_max_m_s,days_with_thunderstorm,days_with_hail
0,1010001,ANGLEFORT,45.9,5.766667,195001,NaN,NaN,NaN,49.5,18.0,0.0,NaN,NaN,NaN,NaN
1,1010001,ANGLEFORT,45.9,5.766667,195002,NaN,NaN,NaN,237.6,51.0,1.0,NaN,NaN,NaN,NaN
2,1010001,ANGLEFORT,45.9,5.766667,195003,NaN,NaN,NaN,23.8,8.5,0.0,NaN,NaN,NaN,NaN
3,1010001,ANGLEFORT,45.9,5.766667,195005,NaN,NaN,NaN,83.6,12.8,0.0,NaN,NaN,NaN,NaN
4,1010001,ANGLEFORT,45.9,5.766667,195006,NaN,NaN,NaN,75.3,36.7,0.0,NaN,NaN,NaN,NaN

In [465]:
data_weather_01_14_23['date'] = pd.to_datetime(data_weather_01_14_23['date'], format='%Y%d')

data_weather_01_14_23['year'] = data_weather_01_14_23['date'].dt.year
data_weather_01_14_23['month'] = data_weather_01_14_23['date'].dt.month
data_weather_01_14_23['quarter'] = data_weather_01_14_23['date'].dt.quarter

data_weather_01_14_23.head()

,postal_code,city,latitude,longitude,date,temp_max_abs_celsius,days_temp_max_35c_plus,temp_mean_avg_celsius,precip_total_mm,precip_max_24h_mm,days_precip_50mm_plus,sunshine_duration_min,wind_gust_max_m_s,days_with_thunderstorm,days_with_hail,year,month,quarter
0,1010001,ANGLEFORT,45.9,5.766667,1950-01-01,NaN,NaN,NaN,49.5,18.0,0.0,NaN,NaN,NaN,NaN,1950,1,1
1,1010001,ANGLEFORT,45.9,5.766667,1950-01-02,NaN,NaN,NaN,237.6,51.0,1.0,NaN,NaN,NaN,NaN,1950,1,1
2,1010001,ANGLEFORT,45.9,5.766667,1950-01-03,NaN,NaN,NaN,23.8,8.5,0.0,NaN,NaN,NaN,NaN,1950,1,1
3,1010001,ANGLEFORT,45.9,5.766667,1950-01-05,NaN,NaN,NaN,83.6,12.8,0.0,NaN,NaN,NaN,NaN,1950,1,1
4,1010001,ANGLEFORT,45.9,5.766667,1950-01-06,NaN,NaN,NaN,75.3,36.7,0.0,NaN,NaN,NaN,NaN,1950,1,1

In [466]:
data_weather_01_14_23['year_quarter'] = data_weather_01_14_23['year'].astype(str) + 'T' + data_weather_01_14_23['quarter'].astype(str)

In [467]:
#data_weather['year'] = data_weather['date'].astype(int)
data_weather_01_14_23 = data_weather_01_14_23[data_weather_01_14_23['year'] >= 2014]
data_weather_01_14_23.sort_values('year', ascending=True)

,postal_code,city,latitude,longitude,date,temp_max_abs_celsius,days_temp_max_35c_plus,temp_mean_avg_celsius,precip_total_mm,precip_max_24h_mm,days_precip_50mm_plus,sunshine_duration_min,wind_gust_max_m_s,days_with_thunderstorm,days_with_hail,year,month,quarter,year_quarter
15052,1185006,HAUTEVILLE_EDF_RIC-A2-DOUBLON,45.979667,5.598167,2014-01-07,NaN,NaN,NaN,303.6,42.7,0.0,NaN,NaN,NaN,NaN,2014,1,1,2014T1
15051,1185006,HAUTEVILLE_EDF_RIC-A2-DOUBLON,45.979667,5.598167,2014-01-06,NaN,NaN,NaN,78.7,29.9,0.0,NaN,NaN,NaN,NaN,2014,1,1,2014T1
15050,1185006,HAUTEVILLE_EDF_RIC-A2-DOUBLON,45.979667,5.598167,2014-01-05,NaN,NaN,NaN,153.6,52.0,1.0,NaN,NaN,NaN,NaN,2014,1,1,2014T1
15049,1185006,HAUTEVILLE_EDF_RIC-A2-DOUBLON,45.979667,5.598167,2014-01-04,NaN,NaN,NaN,77.3,17.5,0.0,NaN,NaN,NaN,NaN,2014,1,1,2014T1
15048,1185006,HAUTEVILLE_EDF_RIC-A2-DOUBLON,45.979667,5.598167,2014-01-03,NaN,NaN,NaN,84.7,50.1,1.0,NaN,NaN,NaN,NaN,2014,1,1,2014T1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19057,1235001,MARLIEUX,46.038500,5.044333,2023-01-07,37.1,2.0,22.2,99.9,40.0,0.0,NaN,NaN,NaN,NaN,2023,1,1,2023T1
19056,1235001,MARLIEUX,46.038500,5.044333,2023-01-06,33.1,0.0,21.4,59.6,23.2,0.0,NaN,NaN,NaN,NaN,2023,1,1,2023T1
19055,1235001,MARLIEUX,46.038500,5.044333,2023-01-05,27.2,0.0,15.8,46.7,15.7,0.0,NaN,NaN,NaN,NaN,2023,1,1,2023T1
15165,1185006,HAUTEVILLE_EDF_RIC-A2-DOUBLON,45.979667,5.598167,2023-01-12,15.1,0.0,3.6,241.3,30.1,0.0,NaN,NaN,NaN,NaN,2023,1,1,2023T1
19062,1235001,MARLIEUX,46.038500,5.044333,2023-01-12,14.2,0.0,6.0,81.8,21.1,0.0,NaN,NaN,NaN,NaN,2023,1,1,2023T1

In [468]:
data_weather_01_14_23['postal_code'] = data_weather_01_14_23['postal_code'].astype(str).str[:4].str.zfill(5)

In [469]:
data_weather_01_14_23.head()

,postal_code,city,latitude,longitude,date,temp_max_abs_celsius,days_temp_max_35c_plus,temp_mean_avg_celsius,precip_total_mm,precip_max_24h_mm,days_precip_50mm_plus,sunshine_duration_min,wind_gust_max_m_s,days_with_thunderstorm,days_with_hail,year,month,quarter,year_quarter
750,01014,ARBENT,46.278167,5.669,2014-01-01,14.9,0.0,4.6,154.0,43.0,0.0,NaN,18.6,NaN,NaN,2014,1,1,2014T1
751,01014,ARBENT,46.278167,5.669,2014-01-02,15.0,0.0,4.7,241.9,39.6,0.0,NaN,19.9,NaN,NaN,2014,1,1,2014T1
752,01014,ARBENT,46.278167,5.669,2014-01-03,22.0,0.0,6.7,79.3,45.9,0.0,NaN,19.9,NaN,NaN,2014,1,1,2014T1
753,01014,ARBENT,46.278167,5.669,2014-01-04,23.8,0.0,10.1,100.0,17.2,0.0,NaN,14.3,NaN,NaN,2014,1,1,2014T1
754,01014,ARBENT,46.278167,5.669,2014-01-05,27.6,0.0,12.3,131.5,33.1,0.0,NaN,20.4,NaN,NaN,2014,1,1,2014T1

In [470]:
data_insee = pd.read_csv('../ref_espace_communes.csv')
data_insee.head()

,code_commune_INSEE,code_postal,latitude,longitude,nom_commune_complet,nom_departement,code_region,nom_region
0,01001,1400,46.153426,4.926114,L'Abergement-Clémenciat,Ain,84,Auvergne-Rhône-Alpes
1,01002,1640,46.009188,5.428017,L'Abergement-de-Varey,Ain,84,Auvergne-Rhône-Alpes
2,01004,1500,45.960848,5.372926,Ambérieu-en-Bugey,Ain,84,Auvergne-Rhône-Alpes
3,01005,1330,45.996180,4.912273,Ambérieux-en-Dombes,Ain,84,Auvergne-Rhône-Alpes
4,01006,1300,45.749499,5.594320,Ambléon,Ain,84,Auvergne-Rhône-Alpes

In [ ]:
data_weather_01_14_23 = (
    data_weather_01_14_23
    .merge(
    data_insee,
    left_on='postal_code',
    right_on='code_commune_INSEE',
    how='inner') 
    .drop(columns=['postal_code', 'latitude_y', 'longitude_y', 'city'], axis=1) 
    .rename(columns={'latitude_x': 'latitude', 'longitude_x': 'longitude'})
)

data_weather_01_14_23.head()

,latitude,longitude,date,temp_max_abs_celsius,days_temp_max_35c_plus,temp_mean_avg_celsius,precip_total_mm,precip_max_24h_mm,days_precip_50mm_plus,sunshine_duration_min,wind_gust_max_m_s,days_with_thunderstorm,days_with_hail,year,month,quarter,year_quarter,code_commune_INSEE,code_postal,nom_commune_complet,nom_departement,code_region,nom_region
0,46.278167,5.669,2014-01-01,14.9,0.0,4.6,154.0,43.0,0.0,NaN,18.6,NaN,NaN,2014,1,1,2014T1,01014,1100,Arbent,Ain,84,Auvergne-Rhône-Alpes
1,46.278167,5.669,2014-01-02,15.0,0.0,4.7,241.9,39.6,0.0,NaN,19.9,NaN,NaN,2014,1,1,2014T1,01014,1100,Arbent,Ain,84,Auvergne-Rhône-Alpes
2,46.278167,5.669,2014-01-03,22.0,0.0,6.7,79.3,45.9,0.0,NaN,19.9,NaN,NaN,2014,1,1,2014T1,01014,1100,Arbent,Ain,84,Auvergne-Rhône-Alpes
3,46.278167,5.669,2014-01-04,23.8,0.0,10.1,100.0,17.2,0.0,NaN,14.3,NaN,NaN,2014,1,1,2014T1,01014,1100,Arbent,Ain,84,Auvergne-Rhône-Alpes
4,46.278167,5.669,2014-01-05,27.6,0.0,12.3,131.5,33.1,0.0,NaN,20.4,NaN,NaN,2014,1,1,2014T1,01014,1100,Arbent,Ain,84,Auvergne-Rhône-Alpes

In [472]:
data_weather_01_14_23.shape

(4063, 23)

In [473]:
cols_to_fill = [
    'temp_max_abs_celsius',
    'days_temp_max_35c_plus',
    'precip_total_mm',
    'sunshine_duration_min',
    'temp_mean_avg_celsius',
    'precip_max_24h_mm',
    'days_precip_50mm_plus',
    'wind_gust_max_m_s',
    'days_with_thunderstorm',
    'days_with_hail'
]

for col in cols_to_fill:
    data_weather_01_14_23[col] = (
        data_weather_01_14_23
        .groupby(['code_commune_INSEE', 'month'])[col]
        .transform(lambda x: x.fillna(x.mean())))
    
    mask_missing = data_weather_01_14_23[col].isna()
    data_weather_01_14_23.loc[mask_missing, col] = (
        data_weather_01_14_23
        .groupby(['code_postal', 'month'])[col]
        .transform(lambda x: x.fillna(x.mean()))
    )

    mask_missing = data_weather_01_14_23[col].isna()
    data_weather_01_14_23.loc[mask_missing, col] = (
        data_weather_01_14_23
        .groupby(['nom_departement', 'month'])[col]
        .transform(lambda x: x.fillna(x.mean()))
    )

    mask_missing = data_weather_01_14_23[col].isna()
    data_weather_01_14_23.loc[mask_missing, col] = (
        data_weather_01_14_23
        .groupby(['code_region', 'month'])[col]
        .transform(lambda x: x.fillna(x.mean()))
    )

In [474]:
data_weather_01_14_23.isna().sum()

latitude                  0
longitude                 0
date                      0
temp_max_abs_celsius      0
days_temp_max_35c_plus    0
temp_mean_avg_celsius     0
precip_total_mm           0
precip_max_24h_mm         0
days_precip_50mm_plus     0
sunshine_duration_min     0
wind_gust_max_m_s         0
days_with_thunderstorm    0
days_with_hail            0
year                      0
month                     0
quarter                   0
year_quarter              0
code_commune_INSEE        0
code_postal               0
nom_commune_complet       0
nom_departement           0
code_region               0
nom_region                0
dtype: int64

# When all the department will be on the dataset

In [475]:
data_risk_by_dept = data_weather_01_2024.groupby(['nom_departement', 'year_quarter'])['avg_risk_score'].mean().round(2).reset_index()
data_risk_by_dept

  nom_departement year_quarter  avg_risk_score
0             Ain       2024T1            0.48
1             Ain       2024T2            0.55
2             Ain       2024T3            0.74
3             Ain       2024T4            0.51

In [476]:
def avg_score_to_level(score):
    if score < 0.5:
        return 'Low'
    elif score < 1.5:
        return 'Moderate'
    elif score < 2.5:
        return 'High'
    else:
        return 'Critical'

data_risk_by_dept['avg_risk_level'] = data_risk_by_dept['avg_risk_score'].apply(avg_score_to_level)
data_risk_by_dept.head()

  nom_departement year_quarter  avg_risk_score avg_risk_level
0             Ain       2024T1            0.48            Low
1             Ain       2024T2            0.55       Moderate
2             Ain       2024T3            0.74       Moderate
3             Ain       2024T4            0.51       Moderate

In [478]:
data_risk_by_dept['avg_risk_level'].value_counts()

avg_risk_level
Moderate    3
Low         1
Name: count, dtype: int64

In [42]:
def risk_score(level):
    if level == 'Low':
        return 0
    elif level == 'Moderate':
        return 1
    elif level == 'High':
        return 2
    elif level == 'Critical':
        return 3

data_risk_by_dept['risk_score'] = data_risk_by_dept['avg_risk_level'].apply(risk_score)
data_risk_by_dept.head()

  nom_departement year_quarter  avg_risk_score avg_risk_level  risk_score
0             Ain       2024T1        0.265625            Low           0
1             Ain       2024T2        0.335069            Low           0
2             Ain       2024T3        0.532986       Moderate           1
3             Ain       2024T4        0.281250            Low           0

In [ ]:
import geopandas as gpd
import plotly.express as px

gdf = gpd.read_file(
    "https://raw.githubusercontent.com/gregoiredavid/france-geojson/master/departements.geojson"
)

print(gdf.columns)

Index(['code', 'nom', 'geometry'], dtype='object')

In [41]:
gdf_merged = gdf.merge(data_risk_by_dept, 
                       left_on='nom', 
                       right_on='nom_departement', 
                       how='inner') \
                .drop(columns='nom_departement')
gdf_merged.head()

,code,nom,geometry,year_quarter,avg_risk_score,avg_risk_level
0,01,Ain,"POLYGON ((4.78021 46.17668, 4.78024 46.18905, ...",2024T1,0.265625,Low
1,01,Ain,"POLYGON ((4.78021 46.17668, 4.78024 46.18905, ...",2024T2,0.335069,Low
2,01,Ain,"POLYGON ((4.78021 46.17668, 4.78024 46.18905, ...",2024T3,0.532986,Moderate
3,01,Ain,"POLYGON ((4.78021 46.17668, 4.78024 46.18905, ...",2024T4,0.281250,Low